# Google Site Verification

The Google site verification integration lets you verify your site on ReadMe.

Simply copy the string in your meta tag using the [HTML tag method](https://support.google.com/webmasters/answer/35179?visit_id=1-636531454749772230-4021628945\&rd=1), then navigate to **Admin Settings > Integrations** and enter the string in **Google Site Verification**.

<Image align="center" alt="1884" border={false} src="https://files.readme.io/b6ddea9655d11d966a533d64ceafb727e141b811ecde4b3b8b49216516c1a3a1-google_integ.png" title="Screen Shot 2021-04-01 at 4.52.41 PM.png" />